<h1> Merry Valentine's Day from Pizza Pug! </h1>

<div class = "row">
  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <%=link_to (image_tag "ganster_p.jpg", class: "thumbnail img-responsive"), white_men_path %>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <%= link_to (image_tag "10896945_10205574838468055_2928285020783230698_n.jpg", class: "thumbnail img-responsive"), white_men_path %>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <%= link_to (image_tag "gross_pizza.jpg", class: "thumbnail img-responsive"), white_men_path %>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <%= link_to (image_tag "kanga_p.jpg", class: "thumbnail img-responsive"), white_men_path %>
  </a>
</div>
</div>

<div class = "row">
  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <%= link_to (image_tag "snaggle_p.jpg", class: "thumbnail img-responsive"), white_men_path %>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <%= link_to (image_tag "sock_p.jpg", class: "thumbnail img-responsive"), white_men_path %>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <%= link_to (image_tag "tired_p.jpg", class: "thumbnail img-responsive"), white_men_path %>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <!-- <a class="thumbnail" href="#"> -->
    <%= link_to (image_tag "unicorn_p.jpg", class: "thumbnail img-responsive"), white_men_path %>
  </div>
</div>

<div>
  <%= link_to "Valentime's Wishes?", new_valentine_path, class: "btn btn-default btn btn-lg btn-block" %>
</div>
